
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Raleway, sans-serif;
     color: black;
}

html {
     font-size: 16px;
}
          
a {
     transition: color 0.3s;
     text-decoration: none;  
}

a:hover {
     color:#0065fc;
}
                   
ul, li {
     list-style-type: none;
}
     
.navbar{
     display: flex;
     justify-content: space-between;
     margin-top: 35px;
}
     
.logonavbar {
     height: 60px;
     margin-left: 50px;  
}

.navbar ul {
     display: flex;
}

.navbar ul li a{
     padding: 30px 45px 45px 30px;
}

.titre-container{
     margin-top: 20px;
     margin-left: 50px;
}

h1 {

     font-size: 15px;
     font-weight: bold;  
     font-size: large;
}



h3 {
     margin-top: 25px;
     font-size: 1.5rem;
     font-weight: 700;
}

p {
     font-size: 1rem;
     margin-top: 10px;
}

.link-inscription a{
     font-weight: 500;
     color: #0065fc;
}

.link-inscription a:hover{
     font-weight: bolder;
}

.link a:hover{
     border-top: solid 2px #0065fc;
     font-weight: bolder;
     color: #0065fc;    
}

.bouton-recherche {
     grid-area: auto;
     display: flex;
     height: 50px;
     margin-left:50px;
     margin-right: 3.5%;
     margin-top: 20px;
     align-items: center;
}

.pin-icone{
     height: 50px;
     width: 50px;
     border-radius: 17px 0px 0px 17px;
     background-color: #f2f2f2;
     text-align: center;
     padding-top: 15px;

}

.recherche input {
     height: 50px;
     border: solid 1px #f2f2f2;
}

input:focus {
     outline: 0;    
}

.rechercher {
     font-weight: bold;
     font-size: 1.2rem;
     margin-right: -5px;
}

.submit{
     color: aliceblue;
     font-size: 1.2rem;
     font-weight: bold;
     background-color: #0065fc;
     border-radius: 0px 17px 17px 0px;
     width: 130px;
}


/* filtres */ 

.filter {
     grid-area: filter;
     margin-top: 20px;
     margin-left: 3.5%;
}

.filter-container{
     border: none;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.filter-item{
     position: relative;
     display: flex;
     margin: 15px;
     align-items: center;
}

.filter-item span {
     position: absolute;
     background-color: #deebff;
     padding: 16px;
     border-radius: 50%;
     height: 50px;
     width: 50px;
}

.filter-item form input{
     height: 50px;
     border: solid 2px #f2f2f2;
     border-radius: 30px;
     text-align: justify;
     padding-left: 54px;
     font-weight: bold;
     text-align: center;
}

.filter-item i{
     color: #0065fc;
     font-weight: bold;
     text-align: center center;
     font-size: 1.2rem;
     }

.fa-money-bill-wave{
     margin-left: -3px;
}

.fa-child {
     margin-left: 2px;
}

.fa-dog {
     margin-left: -1px;
}

/* hover filtres */

.filter-item-formulaire input:hover {
     background-color: #0065FC;
     border-color: #0065FC ;
     }
     

.info-container{
     align-items: center;
     justify-content: flex-start;
     display: flex;
     margin-top: 20px;
     }

/* Information icone */

.info-container i {
     color:   #0065FC;
     border: 2px solid #F2F2F2;
     border-radius: 50px;
     height: 30px;
     width: 30px;
     padding: 4px 7px 7px 10px;
     margin-bottom: 50px;
     }

.info {
     padding: 5px;
     font-size: 0.9rem;
     margin-bottom: 49px;
     }


/* aside */

.main {
     display:flex;
     margin-left: 40px;
     margin-right: 40px;
}


.article-hebergement-aside img {
     width: 245px;
     height: 115px;
     border-radius: 17px 0px 0px 17px;
     padding: 5px 5px 5px 5px;
     object-fit: cover;
}

aside {
     order: 2;
     display: flex;
     background-color: #f2f2f2;
     border-radius: 17px;
     flex-wrap: wrap;
     flex-basis: 30%;
     margin-left: 2%;
     justify-content: center;
}

.image-article-aside {
     height: 8em;
     overflow: hidden;
     width: 50%;
}

.image-article-aside img {
     height: 100%;
     
}

.image-article-aside:hover {
     transform: scale(1.2);
}

.article-item-aside{
     display: flex;
     background-color: #fff;
     border-radius: 17px;
     margin: 15px;
     box-shadow: 1px 1px 15px darkgrey;
}

 .fa-chart-line {
     margin-left: 80px;
 }



/* hébergement */

.titres {
     margin-left: 20px;
     margin-bottom: 30px;
     width: 100%;                                               
}

.hebergement-container{
     background-color: #f2f2f2;
     border-radius: 17px;
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
     flex-basis: 70%;
}

.article-hebergement img:hover {
     transform: scale(1.2);
}

.article-hebergement img {
     width: 245px;
     height: 115px;
     border-radius: 17px 17px 0px 0px;
     padding: 5px 5px 5px 5px;
     object-fit: cover;
}

.article-item{
     margin: 10px;
     width: 245px;
     border-radius: 17px;
     background-color: white;
     box-shadow: 1px 1px 15px darkgrey;
     overflow: hidden
}

.info-hebergement {
     font-size: 0.7rem;
     padding-left: 15px;
} 

.tarif-hebergement{
     font-size: 0.8rem;
     font-weight: 300;
     padding-bottom: 10px;
}

.afficher-plus{
     width: 100%;
     margin-top: 40px;
     margin-left: 35px;
     margin-bottom: 40px;
     font-weight: 700;
     font-size: 1rem;
}   

.note {
     display: flex;
     padding-bottom: 10px;
}

.blue-star i {
     color: #0065fc; 
}

.fa-star {
     font-size: 0.7rem;
     color:#f2f2f2;
}


/* activites */

.activites-container {
     display: flex;
     flex-flow: wrap;
     flex-direction: column;
     height: 500px;   
     justify-content: space-between;
}

.title {
     margin-left: 40px;
     margin-top: 40px;
     font-weight: 700;
}
.card-activites {
     margin-left: 20px;
     justify-content: space-between;
     align-content: space-between;
     align-items: stretch;
}

.cards {
     background-color: white;
     width: 300px;
     border-radius: 17px;
     box-shadow: 5px 10px 10px 0px #f2f2f2;
     margin-block-end: 10px;
     padding-bottom: 10px;
     margin-left: 40px;
}
.cards:hover {
     transform: scale(1.2);
}

.thumb {
     object-fit: cover;
     height: 400px;
     width: 300px;
     border-radius: 17px 17px 0px 0px;
}

.thumb-mini {
     object-fit: cover;
     height: 170px;
     width: 300px;
     border-radius: 17px 17px 0px 0px;
}

/* footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.footer-section {
      display: flex;
      flex-direction: column;
      flex: 1;  
}

.footer-section ul {
    display: inline-block;
}

.footer-section .text {
     margin-bottom: 15px;  
}

h5 {
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 10px;
      
}