
     * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Raleway, sans-serif;
     color: black;
     }
                     /* ================TAILLE DE LA POLICE DE BASE POUR LE SITE=========== */
     html {
         font-size: 16px;
     }
                    /* ================TOUT LES LIENS DU SITE =========== */
     a {
          transition: color 0.3s;
          text-decoration: none;
     }
                    /* ================RESET DE TOUTES LES LI DU SITES =========== */
     li {
          list-style-type: none;
     }
                                                  
                    /* ===============================INTEGRATION DESKTOP======================== */
                                                  
     .site-content{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-areas: "header header header header "
                          "bouton bouton bouton bouton"
                          "filter filter filter filter"
                          "hebergement hebergement aside aside"
                          "activite activite activite activite"
                          "footer footer footer footer";
     }
  /* Header */
  
     .header {
     grid-area: header;
     }
     
     .navbar__container{
     display: flex;
     }
     
     .navbar__img{
      margin-top: 50px;
      margin-left: 3.5%;
     }

     li {
          display: list-item;
          text-align: -webkit-match-parent;
      }

     /* CONTAINER DES LIENS DE LA NAV */
     
     .navbar__link{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     text-align: center;
     flex-wrap: wrap-reverse;
     font-weight: 400;
     font-size: 1.3rem;
     padding-top: 20px;
     }
     
     /* TOUT LES LIENS DE LA NAV  */
     
     .navbar__link a{
     padding: 20px 45px 45px 20px; 
     }
     .titre__container{
     margin-top: 20px;
     margin-left: 3.5%;
     }
     .titre__principal{
          font-size: 1.3rem;
     }
     .titre__secondaire{
     margin-top: 10px;
     font-size: 1rem;
     font-weight: 400;
     }
     .link__inscription a{
     font-weight: 500;
     color: #0065fc;
     }
     .link__inscription a:hover{
     font-weight: bolder;
     }
     .link a:hover{
     border-top: solid 2px #0065fc;
     font-weight: bolder;
     color: #0065fc;
     }
    
    /* Recherche */ 

     .bouton-recherche {
     grid-area: bouton;
     display: flex;
     height: 65px;
     margin-left: 3.5%;
     margin-right: 3.5%;
     margin-top: 20px;
     align-items: center;
     }
     .pin-icone{
     height: 50px;
     width: 50px;
     border-radius: 17px 0px 0px 17px;
     background-color: #f2f2f2;
     text-align: center;
     padding-top: 15px;
     }
     .recherche input {
     height: 50px;
     border: none;
     }
     .rechercher {
     height: 55px;
     padding-left: 11px;
     font-weight: bold;
     font-size: 1.2rem;
     border: solid 1px #0065fc;
     }
     .submit{
     color: aliceblue;
     font-size: 1.2rem;
     font-weight: bold;
     background-color: #0065fc;
     border-radius: 0px 17px 17px 0px;
     width: 135px;
     }
     .loupe{
     visibility: hidden;
     }

/* Filtres */ 
     .filter {
     grid-area: filter;
     margin-top: 20px;
     margin-left: 3.5%;
     }
     /* FITRES CONTAINER */
     .filter-container{
     border: none;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     }
     /* FILTRES */
     .filter-item{
     position: relative;
     display: flex;
     margin: 15px;
     align-items: center;
     }
     .filter-item span {
     position: absolute;
     background-color: #deebff;
     padding: 16px;
     border-radius: 50%;
     height: 50px;
     width: 50px;
     }
     .filter-item form input{
     height: 50px;
     border:  solid 2px #f2f2f2;
     border-radius: 30px;
     text-align: justify;
     padding-left: 54px;
     font-weight: bold;
     }
     /* ICONE FILTRE */
     .filter-item i{
     color: #0065fc;
     font-weight: bold;
     text-align: center center;
     font-size: 1.2rem;
     }
     /* SURVOL DES FILTRES */
     .filter-item-formulaire input:hover {
     background-color: #deebff;
     box-shadow: 6px 6px 12px #f2f2f2;
     cursor: pointer;
     }
     
                    /* ===============================INFORMATION======================= */
     /* INFO CONTAINER */
     .info-container{
     align-items: center;
     justify-content: flex-start;
     display: flex;
     margin-top: 20px;
     }
     /* ICONE INFORMATION */
     .info-container i {
     color:   #0065FC;
     border: 2px solid #F2F2F2;
     border-radius: 50px;
     height: 30px;
     width: 30px;
     padding: 4px 7px 7px 10px;
     margin-bottom: 50px ;
     }
     /* TEXTE INFORMATION */
     .info {
     padding: 5px;
     font-size: 0.9rem;
     margin-bottom: 49px;
     }
     #hebergement{
     grid-area: hebergement;
     }
     .titre-hebergement{
     margin-left: 50px;
     margin-bottom: 30px;
     width: 100%;                                               
     }
     .hebergement-container{
     background-color: #f2f2f2;
     border-radius: 17px;
     margin-left: 6.5%;
     justify-content: center;
     padding-top: 20px;
     padding-bottom: 35px;
     display: flex;
     flex-wrap: wrap;
     width: 880px;
     height: 625px;
     }
     .article-hebergement img:hover {
     transform: scale(1.2);
     }
     .article-hebergement img {
     width: 245px;
     height: 115px;
     border-radius: 17px 17px 0px 0px;
     padding: 5px 5px 5px 5px;
     object-fit: cover;
     }
    .article-item{
     margin: 10px;
     width: 245px;
     border-radius: 17px;
     background-color: white;
     box-shadow: 1px 1px 15px darkgrey;
     overflow: hidden
     }
     .info-hebergement {
     font-size: 0.7rem;
     padding-left: 15px;
     }                                       
     .tarif-hebergement{
     font-size: 0.8rem;
     font-weight: 300;
     }
     .afficher-plus{
     width: 100%;
     margin-top: 40px;
     margin-left: 35px;
     margin-bottom: 40px;
     font-weight: 900;
     font-size: 0.9rem;
     }                                             
     .note {
     display: flex;
     padding-bottom: 10px;
     }
     .prix-aside{
     margin-bottom: 40px;
     }
     .blue-star i {
     color: #0065fc; 
     }
     .fa-star {
     font-size: 0.7rem;
     color:#f2f2f2;
     }
     .aside{
     grid-area: aside;
     }
     .info-aside{
     padding-left: 10px;
     }
     .titre-aside{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     justify-self: flex-start;
     padding: 10px;
     margin-top: 40px;
     }
     .titre-aside h2 {
     font-weight: bolder;
     }
     
     .aside__container{
     background-color: #f2f2f2;
     border-radius: 17px;
     margin-left: 3.5%;
     margin-right: 12%;
     margin-bottom: 6;
     display: flex;
     justify-content: center;
     height: 625px;
     width: 420px;
     
     
     }
     .article-item-aside{
     background-color: white;
     width: 340px;
     height: 145px;
     border-radius: 17px;
     margin-top: 20px;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     box-shadow: 1px 1px 15px darkgrey;
     overflow: hidden;
     }
     .article-item-aside img:hover{
     transform: scale(1.2);
     }
     .title-article-aside{
     font-size: 1.3rem;
     font-weight: 600;
     margin-top: 20px;
     }
     .prix-aside{
     font-weight: 300;
     font-size: 1.1rem;
     }
     .article-item-aside img {
     width: 125px;
     height: 135px;
     padding: 5px;
     border-radius: 17px 0px 0px 17px;
     object-fit: cover;
     }
     #activite{
     grid-area: activite;
     display: flex;
     align-items: center;
     }
     .activite-container{
     display: flex;
     flex-wrap: wrap;
     margin-left: 3.5%;
     margin-top: 60px;
     }
     
     .image-article-activite img {
     width: 300px;
     padding: 5px;
     border-radius: 17px 17px 0px 0px;
     }
     .image-article-activite img:hover{
     transform: scale(1.2);
     }
     .article-item-activite{
     background-color: white;
     border-radius: 17px;
     width: 300px;
     display: flex;
     margin: 20px;
     box-shadow: 1px 1px 15px darkgrey;
     overflow: hidden;
     }
     .titre-activite{
     font-size: 1rem;
     padding: 20px 0px 20px 20px ;
     font-weight: 700;
     font-size: 1.3rem;  
     }
     .title-activite{
     width: 100%;
     }
     .footer{
     background-color: #f2f2f2;
     grid-area: footer;
     }
     .list-content{
     display: flex;
     flex-wrap: wrap;
     align-items: baseline;
     justify-content: space-between;
     margin-left: 3.5%;
     margin-top: 50px;
     margin-right: 350px;
     margin-bottom: 50px;
     }
     .list-content ul{
     margin: 20px;
     }
     .list-element{
     padding-top: 1rem;
     }
     .list-elemnt a {
     margin-top: 20px;
     }
     .list-element a:hover{
     color: #0065fc;
     font-weight: 700;
     }
                                                  
                             /* ===============================INTEGRATION MOBILE======================== */
                                                  
     @media(max-width:708px){
          .site-content {
          grid-template-columns: 1fr;
          grid-template-areas:
          "header"
          "bouton"
          "filter"
          "aside"
          "hebergement"
          "activite"
          "footer";
          }
          .navbar__link{
          flex-wrap: wrap-reverse;
          font-weight: 400;
          border-bottom: solid 3px #f2f2f2;
          padding-bottom: 10px;
          }
          .link {
          width: 50%;
          }
          .link__inscription{
          margin-bottom: 35px;
          }
          .navbar__img{
          margin-top: 30px;
          margin-left: 5%;
          }
          .aside__container{
          border-radius: 0;
          margin: 0;
          }
/* TITTRE SECTION FILTRE */
          .filter-title{
          margin-left: 10px;
          }
/* TOUT LES ICONES  */
          .bouton-recherche span {
          height: 55px;
          width: 50px;
          }
/* FORMULAIRE DE RECHERCHE */
/* INPUT */
          .rechercher {
          height: 55px;
          padding-left: 11px;
          font-weight: bold;
          font-size: 1.3rem;
          border: solid 1px #f2f2f2;                                        
          }                                               
/* ICONE PIN */
/* CONTAINER */
          .pin-icone{
          text-align: center;
          background-color: #f2f2f2;
          border-radius: 17px 0px 0px 17px;
          padding-right: 40px;
          }
/* ICONE */
          .pin-icone i {
          text-align: center;
          padding-top: 19px;
          padding-left: 19px;
          }
/* ICONE LOUPE */
/* CONTAINER */
          .loupe{
          margin-left: 272px;
          position: absolute;
          text-align: center;
          background-color: #0065fc;
          border-radius: 17px;
          }
/* ICONE */
          .loupe i {
          color: white;
          text-align: center;
          padding-top: 19px;
          }
          .loupe{
          visibility: visible;
          }
/* INPUT SOUMETTRE  */
          .submit{
          visibility: hidden;
          }
          .list-content{
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-content: space-between;
          margin-left: 5%;
          margin-top: 50px;
          margin-right: 5%;
          margin-bottom: 50px;
          }
          .hebergement-container{
          background-color:white;
          }
          .filter-title {
          width: 100%;
          }
          .bouton-recherche{
          justify-content: center;
          align-items: center;
          }
                                                  
     }
                                                  